<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../style.css" />
    <title>The {{proper_noun inner.name}}</title>
  </head>
  <body>
    <h1 class="title"><a href="{{metadata.path_to_index}}">{{metadata.name}}</a></h1>
  </body>
</html>